@charset "UTF-8";
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
  text-decoration: none; /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic; /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto; /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield; /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Safari 8 */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden; /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.l-header {
  height: 60px;
  background-color: #2F2F2F;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .l-header {
    height: 90px;
  }
}

.l-header__inner {
  display: flex;
  width: 94%;
  height: inherit;
  margin: 0 3%;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .l-header__inner {
    margin-left: 2.5%;
    margin-right: 5%;
  }
}

.l-header__logo {
  margin: 10px 0;
}

.c-btn-form {
  display: inline-block;
  width: 100%;
}
.c-btn-form input {
  padding: 15px 0;
  background: #159741;
  color: #FFF;
  width: 100%;
  font-weight: 500;
  font-size: 1.12rem;
  text-align: center;
}

.c-btn-instagram {
  font-size: 1rem;
  font-weight: 700;
  border: solid 1px #333333;
  padding: 16px 40px 16px 37px;
  height: 100%;
  display: inline-block;
  color: #2F2F2F;
}
.c-btn-instagram::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f08e";
  display: inline;
}

.c-btn-instagram__icon {
  margin-left: 16px;
  display: inline-block;
}

.c-card {
  text-align: center;
  padding: 10px;
  background-color: #FFF;
}
@media screen and (min-width: 960px) {
  .c-card {
    padding: 13px;
  }
}

.c-card__inner {
  border: 1px solid #333333;
}

.c-category {
  background-color: #159741;
  display: inline-block;
  padding: 38px 50px 18px;
}
@media screen and (min-width: 960px) {
  .c-category {
    padding: 9px 51px 15px;
  }
}

.c-label::after {
  content: "必須";
  color: #FFF;
  background-color: #159741;
  border-radius: 6px;
  font-size: 0.73rem;
  padding: 3px 8px;
  margin-left: 10px;
}

@media screen and (min-width: 960px) {
  .c-menu-detail {
    margin-top: 30px;
  }
}

.c-menu-detail__kcal {
  font-size: 0.87rem;
  margin-bottom: 32px;
}
@media screen and (min-width: 960px) {
  .c-menu-detail__kcal {
    margin-bottom: 40px;
  }
}

.c-menu-detail__name {
  font-weight: 700;
  font-size: 1.47rem;
  margin-bottom: 12px;
}
@media screen and (min-width: 960px) {
  .c-menu-detail__name {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.c-menu-detail__price {
  font-size: 1.87rem;
  margin-bottom: 16px;
}
@media screen and (min-width: 960px) {
  .c-menu-detail__price {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.c-menu-global {
  display: flex;
  align-items: center;
}

.c-menu-global__footer {
  justify-content: center;
}

.c-menu-global__list a {
  padding: 22px 10px;
  font-size: 0.87rem;
  display: block;
}
@media screen and (min-width: 960px) {
  .c-menu-global__list a {
    font-size: 1.12rem;
  }
}

.c-section-title {
  font-size: 2rem;
  text-align: center;
  position: relative;
  margin-bottom: 68px;
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
}
@media screen and (min-width: 960px) {
  .c-section-title {
    font-size: 3rem;
    margin-bottom: 96px;
  }
}
.c-section-title::before {
  color: #159741;
  font-size: 0.87rem;
  display: block;
  font-family: "Noto Sans JP";
}
@media screen and (min-width: 960px) {
  .c-section-title::before {
    font-size: 1.12rem;
  }
}
.c-section-title::after {
  position: absolute;
  bottom: -10px;
  content: "";
  width: 50px;
  background: #159741;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.c-visual {
  width: 100%;
  height: 250px;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  .c-visual {
    height: 450px;
  }
}

.p-about {
  padding: 64px 0;
  background-color: #F2F2F2;
}
@media screen and (min-width: 960px) {
  .p-about {
    padding: 130px 0;
  }
}

.p-about__inner {
  margin: 0 7%;
}
@media screen and (min-width: 960px) {
  .p-about__inner {
    margin: 0 12.5%;
  }
}

.p-about__title {
  font-weight: 700;
}
.p-about__title::before {
  content: "Garden Saladのこだわり";
}

.p-about__text {
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 960px) {
  .p-about__text {
    width: 58%;
  }
}
.p-about__text::before {
  font-size: 11.25rem;
  color: #FFF;
  opacity: 80%;
  position: absolute;
  right: -20px;
  bottom: -32px;
  line-height: 80%;
  font-family: reross-quadratic, sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: -1;
}
@media screen and (min-width: 960px) {
  .p-about__text::before {
    font-size: 18rem;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    transform: translateY(-50%);
    line-height: 100%;
  }
}

.p-about__text01 {
  margin-bottom: 32px;
  padding-left: 0;
}
@media screen and (min-width: 601px) {
  .p-about__text01 {
    padding-left: 6%;
  }
}
@media screen and (min-width: 960px) {
  .p-about__text01 {
    margin-bottom: 0;
  }
}
.p-about__text01::before {
  content: "01";
}

.p-about__text02 {
  margin-bottom: 32px;
  margin-right: 6%;
}
@media screen and (min-width: 960px) {
  .p-about__text02 {
    margin-bottom: 0;
  }
}
.p-about__text02::before {
  content: "02";
  margin-bottom: 0;
}

.p-about__text03 {
  margin-bottom: 48px;
  padding-left: 6%;
}
@media screen and (min-width: 960px) {
  .p-about__text03 {
    margin-bottom: 0;
  }
}
.p-about__text03::before {
  content: "03";
  bottom: -50px;
}
@media screen and (min-width: 960px) {
  .p-about__text03::before {
    bottom: auto;
  }
}

@media screen and (min-width: 960px) {
  .p-about__text-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 63%;
    letter-spacing: 0.05em;
  }
}

.p-about__text-title {
  font-size: 1.43rem;
  margin-bottom: 16px;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .p-about__text-title {
    font-size: 1.87rem;
  }
}
.p-about__text-title span {
  color: #159741;
}

.p-about__text-detail {
  font-size: 1rem;
}
@media screen and (min-width: 960px) {
  .p-about__text-detail {
    font-size: 1.12rem;
  }
}

.p-about__img {
  width: 100%;
  display: block;
}
@media screen and (min-width: 960px) {
  .p-about__img {
    width: 42%;
  }
}
.p-about__img img {
  width: 100%;
  display: block;
}

.p-about__content {
  margin-top: 56px;
}
@media screen and (min-width: 960px) {
  .p-about__content {
    display: flex;
    margin-top: 64px;
  }
}

@media screen and (min-width: 960px) {
  .p-address {
    position: relative;
  }
}

.p-address__inner {
  margin-top: 56px;
  margin-bottom: 98px;
}
@media screen and (min-width: 960px) {
  .p-address__inner {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .p-address__detail {
    display: inline-block;
    margin-left: 13%;
  }
}

.p-address__name {
  font-size: 2rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .p-address__name {
    text-align: start;
    margin-bottom: 25px;
  }
}
.p-address__name span {
  font-size: 18px;
  font-weight: 400;
}
.p-address__name::after {
  content: "（ ガーデンサラダ  ）";
  font-size: 1rem;
  display: block;
}
@media screen and (min-width: 960px) {
  .p-address__name::after {
    display: inline;
  }
}

.p-address__post {
  margin: 24px 7% 40px;
}
@media screen and (min-width: 960px) {
  .p-address__post {
    margin: 0;
  }
}

.p-adress__content {
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  .p-adress__content {
    font-size: 18px;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 960px) {
  .p-adress__content p {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 960px) {
  .p-address__tr {
    line-height: 27px;
  }
  .p-address__tr:nth-of-type(-n+2) {
    margin-bottom: 5px;
  }
}

.p-address__td {
  width: 27%;
}
@media screen and (min-width: 960px) {
  .p-address__td {
    vertical-align: top;
  }
}

.p-address__img {
  background-image: url(../assets/img_store-exterior.png);
}
@media screen and (min-width: 960px) {
  .p-address__img {
    width: 48%;
    height: 500px;
    margin-left: auto;
    background-size: contain;
  }
}

.p-contact {
  background-image: url(../assets/img_vegi.jpg);
  background-size: cover;
  background-position: center;
  padding: 64px 4.5%;
}
@media screen and (min-width: 601px) {
  .p-contact {
    padding: 130px 22%;
  }
}

.p-contact__text {
  font-size: 1rem;
  line-height: 23px;
}

.p-contact__inner {
  padding: 60px 4.5%;
  background: #F2F2F2;
}
@media screen and (min-width: 960px) {
  .p-contact__inner {
    padding: 64px 140px 72px;
  }
}

.p-contact__title::before {
  content: "お問い合わせ";
}

.p-copyright {
  font-size: 0.73rem;
  text-align: center;
}

.p-footer-logo {
  text-align: center;
  margin-bottom: 30px;
}

.p-footer {
  background: #F2F2F2;
  padding-top: 48px;
  padding-bottom: 10px;
}

.p-footer__sns {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.p-footer__sns-link {
  display: inline-block;
}
.p-footer__sns-link:nth-child(n+2) {
  margin-left: 40px;
}

.p-footer__sns-logo {
  width: 50px;
  height: 50px;
  background-color: #2F2F2F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-footer__sns-logo i {
  display: inline-block;
  font-size: 2rem;
  color: #FFF;
}

.p-form__input {
  display: block;
  padding: 16px;
  border: solid 1px #2F2F2F;
  width: 100%;
  line-height: 23px;
  background-color: #FFF;
}

.p-form__label {
  margin-bottom: 6px;
  display: block;
  line-height: 22px;
}
@media screen and (min-width: 960px) {
  .p-form__label {
    font-size: 18px;
  }
}

.p-form__margin-bottom {
  margin-bottom: 32px;
}

.p-form__comment textarea {
  border: solid 1px #2F2F2F;
  background-color: #FFF;
  width: 100%;
  padding: 13px;
  height: 160px;
}

.p-form__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.p-form__checkbox-input {
  display: block;
  height: 30px;
  width: 30px;
}

.p-form__checkbox-label {
  display: block;
  font-size: 1rem;
  justify-content: center;
}

.p-instagram {
  margin-top: 48px;
}
@media screen and (min-width: 960px) {
  .p-instagram {
    margin-top: 80px;
  }
}

@media screen and (min-width: 960px) {
  .p-instagram__card {
    margin: 0 8%;
  }
}

.p-instagram__title {
  padding: 10px 34px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .p-instagram__title {
    padding: 18px 107px;
  }
}
.p-instagram__title p {
  color: #FFF;
}
@media screen and (min-width: 960px) {
  .p-instagram__title p {
    font-size: 1.87rem;
  }
}

.p-instagram__text {
  margin: 24px 8%;
}
.p-instagram__text p {
  font-size: 1rem;
  text-align: start;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 960px) {
  .p-instagram__text p::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background-color: #2F2F2F;
    position: absolute;
    top: -2px;
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(-35deg);
  }
  .p-instagram__text p::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 36px;
    background-color: #2F2F2F;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(35deg);
  }
}
@media screen and (min-width: 960px) {
  .p-instagram__text p {
    text-align: center;
  }
}

.p-instagram__img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.5%;
}
@media screen and (min-width: 960px) {
  .p-instagram__img {
    flex-wrap: nowrap;
  }
}

.p-instagram__photo {
  width: 47%;
}
.p-instagram__photo:nth-child(2n+2) {
  margin-left: 4%;
}
.p-instagram__photo:nth-child(n+3) {
  margin-top: 10px;
}
@media screen and (min-width: 960px) {
  .p-instagram__photo {
    width: 25%;
  }
  .p-instagram__photo:nth-child(n+2) {
    margin-top: 0px;
    margin-left: 1.5%;
  }
}

.p-instagram__post {
  width: 100%;
  display: block;
}
@media screen and (min-width: 960px) {
  .p-instagram__post {
    width: 100%;
  }
}
.p-instagram__post:nth-child(2n) {
  margin-left: 4%;
}
.p-instagram__post:nth-child(n+3) {
  margin-top: 3.5%;
}

.p-instagram__url {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

.p-instagram__url-link {
  color: #2F2F2F;
}

.p-instagram__btn {
  margin: 24px 3.5%;
  display: inline-block;
}

.p-main {
  background-color: #2F2F2F;
  color: #FFF;
  position: relative;
  overflow: hidden;
}

.p-main__top {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.p-main__visual {
  width: 86%;
}
@media screen and (min-width: 960px) {
  .p-main__visual {
    width: 75%;
  }
}

.p-main__text {
  position: absolute;
  left: 20px;
  transform: translateY(-50%);
  top: 50%;
}
@media screen and (min-width: 960px) {
  .p-main__text {
    left: 13%;
  }
}

@media screen and (min-width: 960px) {
  .p-main__title {
    margin-bottom: 30px;
  }
}

.p-main__title-text {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 43px;
}
@media screen and (min-width: 601px) and (max-width: 1150px) {
  .p-main__title-text {
    font-size: 4rem;
    line-height: 64px;
  }
}
@media screen and (min-width: 1151px) {
  .p-main__title-text {
    font-size: 100px;
    line-height: 100px;
  }
}

.p-main__explanation {
  font-size: 0.87rem;
  color: #FFF;
}
@media screen and (min-width: 960px) {
  .p-main__explanation {
    font-size: 2rem;
  }
}

.p-main__green {
  background-color: #159741;
}
@media screen and (min-width: 960px) {
  .p-main__green {
    padding: 10px 20px 10px 0;
  }
}

.p-main__concept {
  text-align: center;
  padding: 50px 0;
}

.p-main__concept-text {
  font-size: 1.22rem;
  font-weight: 700;
  margin-bottom: 24px;
}
@media screen and (min-width: 960px) {
  .p-main__concept-text {
    font-size: 1.87rem;
  }
}
@media screen and (min-width: 960px) {
  .p-main__concept-text br {
    display: none;
  }
}

.p-main__concept-note {
  z-index: 100;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 9%;
  margin-bottom: 24px;
  letter-spacing: 0.05em;
}
.p-main__concept-note br {
  display: none;
}
@media screen and (min-width: 601px) and (max-width: 1150px) {
  .p-main__concept-note br {
    display: block;
  }
}
@media screen and (min-width: 1151px) {
  .p-main__concept-note br {
    display: block;
  }
}

.p-main__background-text {
  position: absolute;
  color: rgba(103, 103, 103, 0.3019607843);
  font-size: 6.87rem;
  text-align: right;
  bottom: 0;
  right: -2%;
  line-height: 80%;
  font-family: reross-quadratic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 960px) {
  .p-main__background-text {
    display: flex;
    font-size: 17.5rem;
    text-align: start;
    left: -3%;
  }
}

@media screen and (min-width: 960px) {
  .p-main__background-salada {
    margin-left: 30px;
  }
}

.p-menu-list__list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.p-menu-list__item:nth-child(n+2) {
  margin-left: 32px;
}

.p-menu-recommend {
  margin-top: 48px;
  margin-bottom: 58px;
}
@media screen and (min-width: 960px) {
  .p-menu-recommend {
    display: flex;
  }
}

.p-menu-recommend__menu {
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-menu-recommend__menu {
    width: 45%;
    margin-right: 14%;
    margin-left: auto;
  }
}

.p-menu-recommend__img {
  margin-bottom: -55px;
  right: 10px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .p-menu-recommend__img {
    width: 78%;
    top: 47%;
    left: -60%;
    transform: translateY(-50%);
    position: absolute;
  }
}

.p-menu-recommend__recommendation {
  color: #FFF;
}
.p-menu-recommend__recommendation::before {
  content: "Recommendation";
  font-size: 0.73rem;
  display: block;
}

.p-menu-reg {
  display: block;
}
@media screen and (min-width: 960px) {
  .p-menu-reg {
    display: flex;
    margin-left: 8.5%;
    margin-right: 8.5%;
  }
  .p-menu-reg:nth-child(2) {
    margin-left: 2%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1150px) {
  .p-menu-reg {
    margin-top: 58px;
  }
}

.p-menu-reg__card {
  margin-bottom: 48px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .p-menu-reg__card {
    width: 49%;
  }
  .p-menu-reg__card:nth-child(2) {
    margin-left: 3%;
  }
}

.p-menu-reg__img {
  width: 100%;
  margin-bottom: -56px;
  margin-left: 2%;
}

@media screen and (min-width: 960px) {
  .p-menu-reg__img--avocado {
    width: 88%;
    margin-bottom: -76px;
  }
}

@media screen and (min-width: 960px) {
  .p-menu-reg__img--chicken {
    width: 90%;
    margin-bottom: -74px;
  }
}

.p-menu-reg__detail {
  margin-top: 56px;
}
@media screen and (min-width: 960px) {
  .p-menu-reg__detail {
    margin-top: 76px;
  }
}

.p-menu {
  background-color: #2F2F2F;
  color: #2F2F2F;
  padding: 24px 0;
}
@media screen and (min-width: 960px) {
  .p-menu {
    padding: 72px 0;
  }
}
@media screen and (min-width: 601px) {
  .p-menu {
    padding: 64px;
  }
}

.p-menu__inner {
  margin: 0 5%;
  padding: 32px 5%;
  border: solid #FFF 1px;
}
@media screen and (min-width: 960px) {
  .p-menu__inner {
    padding: 80px 0 100px 0;
  }
}

.p-menu__title {
  color: #FFF;
}
.p-menu__title::after {
  background: #FFF;
}

.p-menu__pfc {
  text-align: center;
  color: #FFF;
}

.p-menu__contents {
  margin-top: 48px;
}

.p-menu__contents-img {
  margin-bottom: -60px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .p-menu__contents-img {
    width: 32%;
  }
}

.p-menu__title {
  font-weight: 700;
}
.p-menu__title::before {
  content: "メニュー";
  color: #FFF;
}
.p-menu__title::after {
  background: #FFF;
}

.p-menu__recommend {
  margin-top: 24px;
}

.p-menu__detail {
  margin-top: 50px;
}

.p-menu__card-inner {
  border: 1px solid #333333;
}

.p-menu__price-mark {
  font-size: 1.12rem;
}
@media screen and (min-width: 960px) {
  .p-menu__price-mark {
    font-size: 24px;
  }
}

.p-menu__price-tax {
  font-size: 1rem;
  font-weight: 500;
}

.p-post-card {
  position: relative;
}

.p-post-card__inner {
  padding: 18px 10px;
  background-color: #FFF;
  margin: 0 4%;
  padding-bottom: 113px;
  box-shadow: 0 0 4px 4px rgba(161, 159, 159, 0.6);
}
@media screen and (min-width: 601px) {
  .p-post-card__inner {
    margin: 0 10%;
    padding: 32px;
    padding-bottom: 113px;
  }
}

@media screen and (min-width: 960px) {
  .p-post-card__img {
    display: flex;
  }
}
.p-post-card__img img {
  display: block;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -10px;
}

.p-post-card__img-terras {
  width: 100%;
  background-image: url(../assets/img_terras.png);
  background-position: 50% 45%;
  padding-top: 88%;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  .p-post-card__img-terras {
    width: 60%;
    padding-top: 0;
  }
}

.p-post-card__photo {
  outline-offset: -10px;
  outline: 1px solid rgb(255, 255, 255);
}
@media screen and (min-width: 960px) {
  .p-post-card__photo {
    background-size: cover;
    padding-top: 38%;
  }
}

.p-post-card__img-take-out {
  width: 100%;
  background-image: url(../assets/img_take-out.png);
  background-position: center;
  background-size: cover;
  padding-top: 63%;
}
@media screen and (min-width: 960px) {
  .p-post-card__img-take-out {
    width: 40%;
    padding-top: 0;
  }
}

.p-post-card__stamp {
  position: absolute;
  top: -39px;
  left: 0;
  width: 30%;
}
@media screen and (min-width: 601px) {
  .p-post-card__stamp {
    width: 20%;
  }
}

.p-post-card__text {
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-post-card__text {
    display: flex;
  }
}

.p-post-card__title {
  font-family: "Satisfy";
  font-size: 1.87rem;
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  .p-post-card__title {
    font-size: 2.5rem;
    margin-top: 27px;
    width: 21%;
  }
}

.p-post-card__body {
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-post-card__body {
    width: 54%;
    margin: 45px 0 12px 52px;
  }
}
.p-post-card__body p {
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 2;
  background: repeating-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 31px, #ccc 31px, #ccc 32px);
}

.p-post-card__message {
  color: #159741;
  position: absolute;
  right: 0;
  font-family: "Satisfy";
  font-size: 2.25rem;
  transform: rotate(-6deg);
  display: inline-block;
}
@media screen and (min-width: 960px) {
  .p-post-card__message {
    bottom: -50px;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}
.p-post-card__message::before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-bottom: 1px solid #159741;
  position: absolute;
  top: -15px;
  left: -3px;
}
.p-post-card__message::after {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-bottom: 1px solid #159741;
  position: absolute;
  top: -10px;
  left: -3px;
}

.p-shop {
  padding: 64px 0 64px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 960px) {
  .p-shop {
    padding: 120px 0;
  }
}

.p-shop__title::before {
  content: "店舗情報";
}

.p-shop__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66%;
}
@media screen and (min-width: 960px) {
  .p-shop__map {
    padding-top: 30%;
  }
}
.p-shop__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-fc--white {
  color: #FFF;
}

.u-fc--black {
  color: #2F2F2F;
}

.u-fc--green {
  color: #159741;
}

.u-ff-reross {
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
}

.u-img-salad {
  background-image: url(../assets/img_sarad.jpg);
}

.u-img-store {
  background-image: url(../assets/img_store.png);
}

.u-fd-rowvers {
  flex-direction: row-reverse;
}