$black : #2F2F2F;
$border-black:#333333;
$white : #FFF;
$green : #159741;
$gray : #6767674D;
$gray-background : #F2F2F2;

$breakpoints: (
	"sp": "screen and (max-width: 390px)",
    "tab": "screen and (min-width: 960px)",
    "tab-middle": "screen and (min-width: 601px)",
    "tab-mini": "screen and (min-width: 601px) and (max-width: 1150px)",
    "pc": "screen and (min-width: 1151px)"

);