@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.l-header {
    height: 60px;
    background-color: var.$black;
    width: 100%;

    @include mixin.mq('tab') {
        height: 90px;
        
    }
}

.p-header__logo {
    margin: 10px 0;
}

.l-header__inner {
    display: flex;
    width: 94%;
    height: inherit;
    margin: 0 3%;
    justify-content: space-between;


    @include mixin.mq('tab') {
		margin-left: 2.5%;
        margin-right: 5%;
	}
}