@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.p-menu-reg {
    display: block;

    @include mixin.mq('tab') {
        display: flex;
        // margin-top: 443px;
        margin-left: 8.5%;
        margin-right: 8.5%;

        &:nth-child(2) {
            margin-left: 2%;
        }
		
	}

    @include mixin.mq('tab-mini') {
        margin-top: 58px;
		
	}
}

.p-menu-reg__card {
    // position: relative;
    margin-bottom: 48px;
    text-align: center;

    @include mixin.mq('tab') {
		width: 49%;

        &:nth-child(2) {
            margin-left: 3%;
        }
	}
}

.p-menu-reg__img {
    width: 100%;
    margin-bottom: -56px;
    margin-left: 2%;

}

.p-menu-reg__img--avocado {

    @include mixin.mq('tab') {
        width: 88%;
        margin-bottom: -76px;
		
	}

}

.p-menu-reg__img--chicken {

    @include mixin.mq('tab') {
        width: 90%;
        margin-bottom: -74px;
		
	}

}

.p-menu-reg__detail {
    margin-top: 56px;

    @include mixin.mq('tab') {
        margin-top: 76px;
		
	}
}