@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-card {
    text-align: center;
    padding: 10px;
    background-color: var.$white;

    @include mixin.mq('tab') {
        padding: 13px;
	}

}

.c-card__inner {
    border: 1px solid var.$border-black;
    
}