@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-label {

    &::after {
        content: "必須";
        color: var.$white;
        background-color: var.$green;
        border-radius: 6px;
        font-size: 12px;
        padding: 3px 8px;
        margin-left: 10px;
    }
}